<mat-toolbar color="primary">
  
<!--     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <a [routerLink] = "['/home']" class="nav-link">
        <span>My app</span>
     </a>

    <span class="example-spacer"></span>

    <div class="nav-items">
        <ng-template [ngxPermissionsOnly]="'user'" >
        <a [routerLink] = "['/panel-user']" class="nav-link">
            User Dashboard
        </a>
       </ng-template> 

       <ng-template [ngxPermissionsOnly]="'admin'"  > 
            <a  [routerLink] = "['/panel-admin']" class="nav-link">
                Admin Dashboard
            </a>
        </ng-template> 
   

        <ng-container *ngIf="!isLoggedIn; else notLoggedIn">
            <a [routerLink] = "['/auth']" class="nav-link">
                Login/Register
            </a>
        </ng-container>
        <ng-template #notLoggedIn>
            <a class="nav-link" (click)="onLogout()">
                Logout
            </a>
        </ng-template>
        
    </div>
  
  </mat-toolbar>